body {
  flex-grow: 1;
  margin: 0px;
  font-family: "Arvo";
  font-weight: 400;
  font-style: normal;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #E0DED5;
}

main {
  flex-grow: 1;
  background-color: #E0DED5;
  color: #243CFC;
}

.spinner {
  flex-grow: 1;
  @include flex-center;
}

h1 {
  @include flex-center;
  font-family: 'arvo';
  font-size: 4em;
  padding-bottom: .5em;
  padding-top: .5em;
}

// Title text on main pages
.page-header {
  @include flex-center;
  font-family: 'Arvo';
  font-size: 4em;
  padding-bottom: .5em;
  padding-top: .5em;
}

// Defult buttons associated with forms
.form-btn {
  font-size: 20px;
  width: 400px;
  background-color: #E0DED5;
  border-radius: 5px;
  font-size: 1em;
  color: #243CFC;
  border: none;
  font-family: 'Arvo';
  margin-top: 1em;
  font-weight: bold;
}

// Error message formatting
.danger{
  color: red;
  width: 400px;
  text-align: center;
  font-family: 'Arvo';
  font-weight: bold;
}

.book-title {
  font-family: 'Arvo';
  color: red;
  padding-top: 50px;
  padding-bottom: 25px;
  
  mark {
    background-color: #D9FE00;
    color: #243CFC;
  }
}