body {
  flex-grow: 1;
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #E0DED5;
}

main {
  flex-grow: 1;
  background-color: #E0DED5;
  color: #243CFC;
}

.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-regular-italic {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: italic;
}

.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}

.arvo-bold-italic {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: italic;
}

