input, .registeruser, .registeremail, .registerpass, .registerpasscon {
  background-color: #E0DED5;
  border-radius: 3px;
  border: none;
  color: #243CFC;
  width: 400px;
  font-family: 'Arvo';
  // padding-top: 5px;
  // padding-bottom: 5px;
  // border-top: 10px;
  margin-bottom: 16px;
}

.register, .login {
  color: #E0DED5
}

p {
  a, span {
    text-decoration: none;
    color: #E0DED5;
    font-weight: bold;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 5px;
  border-radius: 3px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 30em;
  height: 20em;
}

p {
  font-family: 'Arvo';
}

// Blue form container box
.form-container {
  @include flex(column, center, center);
  padding-top: 2em;
  padding-bottom: 5em;
  background-color: #243CFC;
  height: 650px;
}

// Join the club or register here text and hover effect
.reg-login-link {
  color: #D9FE00;
}

.reg-login-link:hover {
  @include hoverlink;
}

// Description box formatting within form
textarea {
  width: 400px;
  background-color: #E0DED5;
  font-family: 'Arvo';
  color: #243CFC;
}

.back-btn {
  background-color: #E0DED5;
  color: #243CFC;
  font-weight: bold;
} 

.back-btn:hover {
  padding-top: 0px;
  height: 27px;
  a {
    @include hoverlink;
  }
}

div.edit-del-btns{
  justify-content: center;
}

.edit-del-btns {
  display: flex;
  justify-content: space-between;
  height: 50px;
  .submit-btn {
    color:#243CFC;
    padding-top: 0px;
  }
  a {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 1.3em;
    height: 50px;
  }
}

button.submit-btn {
  margin-top: 0px;
  font-size: 1.3em;
  height: 50px;
}