.registeruser, .registeremail, .registerpass, .registerpasscon, input {
  background-color: white;
  border-radius: 5px;
  border: none;
  color: #243CFC;
  width: 300px;
  font-family: 'avro';
}

.input {
  font-family: 'avro';
}

.danger{
  color: red;
  width: 50%;
}

// Register and login button formatting and behaviours
.reg-login-btn {
  font-size: 20px;
  width: 150px;
  background-color: #243CFC;
  border-radius: 5px;
  font-size: 1em;
  color: #D9FE00;
  border: none;
  font-family: 'arvo';
  margin-top: 1em;
}

.register, .login {
  color: #243CFC;
}

.reg-login-btn:hover {
  background-color: #D9FE00; /* Change color on hover */
  color: #243CFC;
}

.reg-login-btn:active {
  transform: translate(1px, 1px); /* Move button 2px down on click */
}

.reg-login-link:hover {
  background-color: #D9FE00; /* Change color on hover */
  color: #243CFC;
}

p {
  a, span {
    text-decoration: none;
    color: #D9FE00;
    font-weight: bold;
  }
}

.registerform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid;
  border-radius: 5px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 500px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 5px;
  border-radius: 5px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 30em;
  height: 20em;
}

p {
  font-family: 'avro';
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
  padding-right: 3em;
}