.form {
  width: 400px;
  max-width: 100%;
  margin: 2rem auto;
  input, textarea {
    width:100%;
    border: none;
    border-bottom: 1px solid;
    padding: 10px 0;
    background-color: transparent;
    outline: none !important;
  }
}

.form-btn:hover {
  background-color: #D9FE00; /* Change color on hover */
  color: #243CFC;
}

.back-btn:hover {
  @include hoverlink;
}

textarea {
  color: #243CFC;
  font-family: 'Arvo';
}