.footer {
  @include flex(row, center, center);
  padding: 30px 0px;
  text-align: center;
  background-color: #E0DED5;
  font-family: 'Arvo';
  p {
    font-size: 12px;
    color:  #243CFC;
  }
    a {
      text-decoration: none;
    }
}