.nav-toggle {
  background: none;
  border: none;
  cursor: pointer;
  span {
    height: 4px;
    display: block;
    width: 50px;
    background: #243CFC;
    margin-bottom: 10px;
  }
}

// .modal-header {
//   flex-grow: 1;
//   background: #FF7C5E;
//   color: #FEE8B0;
//   button {
//     position: absolute;
//     top: 2rem;
//     right: 2rem;
//     color: #FEE8B0;
//   }
//   nav {
//     display: flex;
//     flex-direction: column;
//     align-items: left;
//     justify-content: left;
//     a, span, .logout {
//       color: #FEE8B0;
//       text-decoration: none;
//       cursor: pointer;
//       font-size: 3em;
//     }
//   }
// }

.navbar{
  // @include flex(row-reverse, center, space-between);
  padding: 1.5em;
  background-color: #E0DED5;
}

.link-container {
  display: flex;
  flex-direction: column;
}