.nav-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding-left: 2em;
  padding-top: 1em;
  span {
    height: 4px;
    display: block;
    width: 50px;
    background: #243CFC;
    margin-bottom: 10px;
  }
}

.modal-header {
  flex-grow: 1;
  background: #D9FE00;
  color: #243CFC;
  button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #243CFC;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    a, span, .logout {
      color: #243CFC;
      text-decoration: none;
      cursor: pointer;
      font-size: 3em;
    }
  }
}

.navbar{
  padding: 1.5em;
  background-color: #E0DED5;
}

.link-container {
  display: flex;
  flex-direction: column;
}