.single-book-detail {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-title {
    font-family: 'Arvo';
    color: red;
    padding-top: 50px;
    padding-bottom: 25px;
    
    mark {
      background-color: #D9FE00;
      color: #243CFC;
    }
}

p {
  text-align: left;
  font-size: 20px;

  span {
    font-weight: bold;
    color: #243CFC;
  }
}

form {
  text-decoration: none;
  background-color: none;
}

.edit-del-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: none;
  a, form {
    text-decoration: none;
    font-family: 'Arvo';
    color: #243CFC;
    font-weight: bold;
  }
}

.delete-btn {
  border: none;
  background: transparent;
  font-family: 'Arvo';
  color: #243CFC;
  font-weight: bold;
}

.delete-btn:hover, .update-btn:hover {
  @include hoverlink;
}

.full-btn {
  @include full-line-btn;
  .full-btn:hover {
    @include hoverlink;
  }
}