.single-book-detail {
  padding: 5px 50px 5px 50px;
}

p {
  text-align: left;
  font-size: 20px;
  padding-top: 5px;

  span {
    font-weight: bold;
    color: #243CFC;
  }
}

form {
  text-decoration: none;
  background-color: none;
}

.edit-del-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  a.submit-btn {
    text-decoration: none;
  }
  .submit-btn {
    background: transparent;
    color: #243CFC;
    border: none;
    font-family: 'Arvo';
    font-weight: bold;
  }
  .submit-btn:hover {
    @include hoverlink
  }
}

a.full-btn {
    background: transparent;
    color: #243CFC;
    font-family: 'Arvo';
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  a.full-btn:hover {
    @include hoverlink
  }
